body {
  margin: 0;
  background-color: white;
}

h1 {
  margin: 0;
  font-size: min(16vh, 16vw);
  text-align: center;
}

p {
  margin: 15px;
  font-size: xx-large;
}

header {
  font-size: xx-large;
  font-weight: bolder;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  width: min(60vh, 60vw);
  height: min(60vh, 60vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square {
  flex: 0 0 32%;
  height: 32%;
  background-color: gray;
}

.cell {
  display: flex;
  width: 60vw;
}
