body {
  margin: 0;
  background-color: black;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 80vh;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square {
  flex: 0 0 32%;
  height: 100%px;
  margin-bottom: 5px;
  background-color: gray;
}
