body {
  margin: 0;
  background-color: white;
}

h1 {
  margin: 0;
  font-size: min(20vh, 20vw);
  text-align: center;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: min(80vh, 80vw);
  height: min(80vh, 80vw);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.square {
  flex: 0 0 32%;
  height: 32%;
  background-color: gray;
}
